<mat-card>All orders:</mat-card>
<mat-accordion>
  <mat-expansion-panel *ngFor='let order of orders'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ order.purchaser }}
      </mat-panel-title>
      <mat-panel-description>
        Products: {{ order.products.length }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab label="Purchaser">
        <div class="details">
          <br />
          <mat-divider></mat-divider>
          <b>Company: </b>{{order.purchaser}} <br />
          <div *ngIf='order.email.length > 0'>
            <b>Email: </b>{{order.email}} <br />
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-tab>
      <mat-tab label="Products">
        <app-products [products]="order.products"></app-products>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>
