<mat-card><h3>Add new order</h3></mat-card>



<mat-horizontal-stepper [linear]="true" class="order-stepper">
  <mat-step [stepControl]="purchaserForm">
    <form [formGroup]="purchaserForm">
      <ng-template matStepLabel>Fill out purchaser's data</ng-template>
      <mat-form-field class="order-full-width">
        <input matInput placeholder="Company Name" type="text" formControlName="company"> <br />
      </mat-form-field>
      <mat-form-field class="order-full-width">
        <input matInput placeholder="Email" type="text" formControlName="email"> <br />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
      <ng-template matStepLabel>Add products to the order</ng-template>
      <br />
      <mat-select class="selector" placeholder="Select product" [(ngModel)]="selectedProduct">
        <mat-option *ngFor="let product of PRODUCTS_LIST" [value]="product.id">
          {{product.name}}
        </mat-option>
      </mat-select>
      Amount:<input matInput class="inputAmount" value="1" [(ngModel)]="amount" type="number"> <br /><br />
      <button mat-button *ngIf='selectedProduct != null && amount>0' (click)='onProductAdd()'>Add</button>  <br />
      <br />

      <div>
        <button mat-button matStepperNext *ngIf='products.length'>Next</button>
      </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    Do you want to add new order with {{products.length}} product(s)?
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onFormSubmit()" [routerLink]="['']">Add order</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
